{% extends 'base.html.twig' %}


        
{% block body %}

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1>Page Expertise</h1>
        
        <p>Insérer le code HTML / CSS de la page expertise</p>
        <p>Controller correspondant : HomeController > expertise</p>
    </div>
</div>

        
{% endblock %}