{% extends 'base.html.twig' %}


        
{% block body %}

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1>Page des liens</h1>
        
        <p>Insérer le code HTML / CSS de la page liens</p>
        <p>Controller correspondant : HomeController > liens</p>
    </div>
</div>


{% endblock %}