{% extends 'base.html.twig' %}


        
{% block body %}

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1>Page de présentation</h1>
        
        <p>Insérer le code HTML / CSS de la page présentation</p>
        <p>Controller correspondant : HomeController > presentation</p>
    </div>
</div>


{% endblock %}