{% extends 'base.html.twig' %}


        
{% block body %}

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1>Page des préstataires</h1>

        <p>Insérer le code HTML / CSS de la page préstataire</p>
        <p>Controller correspondant : HomeController > prestataire</p>
    </div>
</div>


{% endblock %}