{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <h1 class="mb-3">Ajouter un nouvel utilisateur</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {label: 'Nom d\'utilisateur'}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <button type="submit" class="btn">Creer un utilisateur</button>
    {{ form_end(registrationForm) }}
{% endblock %}
